@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./../img/group.jpeg");
  /* ./ ile mevcut dizinde gezinirken ../ ise bir üst dizine gideriz*/
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.home .home-text {
  margin-top: 50px;
  display: block;
  width: 60%;
}
.home .home-text h5 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffa343;
}
.home .home-text h1 {
  font-size: 100px;
  font-weight: 1000;
  line-height: 1.2;
  margin-bottom: 20px;
  color: white;
}
.home .home-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6705882353);
  margin-bottom: 35px;
}

.header {
  position: fixed;
  top: 20px;
  padding: 0 22px;
  background-color: transparent;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100001;
}
.header .logo {
  font-size: 33px;
  color: white;
  font-weight: 700;
}
.header .logo span {
  color: #ffa343;
}
.header .navbar {
  display: flex;
  align-items: center;
}
.header .navbar a {
  color: white;
  font-weight: 500;
  margin: 15px 22px;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.header .navbar a:hover {
  color: #ffa343;
}
.header .header-right {
  display: flex;
}
.header .header-right a {
  color: white;
  margin-left: 15px;
  font-size: 20px;
  transition: all 0.5s ease;
}
.header .header-right a:hover {
  color: #ffa343;
  transform: translateY(-3px);
}
.header .header-right a:nth-child(1) {
  margin-right: 20px;
}

.educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin: 150px;
}
.educations-content h4 {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}
.educations-content h4:hover {
  color: #ffa343;
}

.row-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row-img img {
  width: 100%;
  display: inline-block;
  transition: all 0.7s;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 50%;
}
.row-img img:hover {
  transform: scale(1.2);
}

.btn-center {
  align-items: center;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 9rem;
  margin: 50px;
}
.about-us .about-us-img img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-left: 250px;
}
.about-us .about-us-text {
  margin-right: 250px;
}
.about-us .about-us-text h5 {
  font-size: 30px;
  font-weight: 600;
  color: #ffa343;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
.about-us .about-us-text h2 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}
.about-us .about-us-text p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #a4a4a4;
  margin-bottom: 35px;
}

.center-text {
  text-align: center;
}
.center-text h2 {
  font-size: 4rem;
  font-weight: 800;
}

.top-educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  justify-content: center;
  margin: 0 250px;
}
.top-educations-content .box {
  position: relative;
  margin: 20px 0;
}
.top-educations-content .box img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.top-educations-content .box img:hover {
  transform: scale(1.04);
}
.top-educations-content .box h3 {
  position: absolute;
  left: 25px;
  bottom: 85px;
  font-size: 18px;
  font-weight: 500;
}
.top-educations-content .box h3 i {
  color: #ffa343;
  margin-right: 6px;
}
.top-educations-content .box h4 {
  position: absolute;
  bottom: 55px;
  left: 25px;
  font-size: 18px;
  font-weight: 500;
}
.top-educations-content .box h4 i {
  color: #ffa343;
  margin-right: 6px;
}
.top-educations-content .box h5 {
  position: absolute;
  bottom: 25px;
  left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.top-educations-content .box h5 i {
  color: #ffa343;
  margin-right: 8px;
}

.center-btn {
  text-align: center;
  margin-top: 64px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  margin-top: 100px;
}
.contact-us img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.contact-us .contact-us-form {
  width: 100%;
  margin-top: 20px;
}
.contact-us .contact-us-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}
.contact-us button {
  background-color: #ffa343;
  color: #fff;
  transition: all 0.4s;
}
.contact-us button:hover {
  scale: 0.98;
  cursor: pointer;
  background-color: #955d21;
}

.contact-us-form input,
button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}

@media (min-width: 1000px) {
  .contact-us {
    flex-direction: row;
    gap: 50px;
  }
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 60px;
}
.footer .footer-box {
  display: flex;
  flex-direction: column;
}
.footer .footer-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer .footer-box a {
  color: #979797;
  margin-bottom: 12px;
  transition: all 0.4s;
}
.footer .footer-box a:hover {
  color: white;
  transform: scale(1.04);
}
.footer .footer-box .social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
.footer .footer-box .social a:hover {
  background-color: #ffa343;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: #8e8e8e;
  font-size: 15px;
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.btn {
  padding: 13px 40px;
  background-color: #ffa343;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s;
}
.btn:hover {
  transform: translateX(10px);
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

@media (max-width: 1220px) {
  .navbar li {
    display: none;
  }
  .home .home-text h5 {
    font-size: 16px;
  }
  .home .home-text h1 {
    font-size: 50px;
  }
  .home .home-text p {
    font-size: 16px;
  }
  .home .home-text .btn {
    padding: 8px 15px;
    font-size: 16px;
    transition: all 0.5s;
  }
  .about-us {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 9rem;
    margin: 50px;
  }
  .about-us .about-us-img img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  .about-us .about-us-text {
    margin-right: 250px;
  }
  .about-us .about-us-text h5 {
    font-size: 30px;
    font-weight: 600;
    color: #ffa343;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }
  .about-us .about-us-text h2 {
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  .about-us .about-us-text p {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #a4a4a4;
    margin-bottom: 35px;
  }
  .about-us {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 9rem;
    margin: 50px;
  }
  .about-us .about-us-img img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 350px;
  }
  .about-us .about-us-text {
    margin-left: 250px;
  }
}/*# sourceMappingURL=style.css.map */